In [6]:
import pandas as pd
import json
from datetime import datetime

In [11]:
import pandas as pd
import json
from datetime import datetime

# Пример данных
data = {
    'ФИО': [
        'Иванов Иван Иванович',
        'Сорокина Екатерина Матвеевна',
        'Струков Иван Сергеевич',
        'Корнеева Анна Игоревна',
        'Старчиков Сергей Анатольевич',
        'Бутенко Артем Андреевич',
        'Савченко Алина Сергеевна'
    ],
    'Должность': [
        'Менеджер',
        'Аналитик',
        'Старший программист',
        'Ведущий программист',
        'Младший программист',
        'Архитектор',
        'Старший аналитик'
    ],
    'Дата найма': [
        '22.10.2013',
        '12.03.2020',
        '23.04.2012',
        '22.02.2015',
        '12.11.2021',
        '12.02.2010',
        '13.04.2016'
    ],
    'Оклад': [
        250000,
        75000,
        150000,
        120000,
        50000,
        200000,
        100000
    ]
}

# Создание DataFrame
df = pd.DataFrame(data)

# Преобразование даты найма в формат datetime
df['Дата найма'] = pd.to_datetime(df['Дата найма'], format='%d.%m.%Y')

In [13]:

# Функция для расчета премии программистам
def calculate_programmer_bonus(df):
    programmer_positions = ['Программист', 'Старший программист', 'Ведущий программист', 'Младший программист']
    programmer_bonus = df[df['Должность'].isin(programmer_positions)]['Оклад'] * 0.03
    return programmer_bonus

# Функция для расчета премии к 8 марта и 23 февраля
def calculate_gender_bonus(df):
    df['Премия 8 марта'] = df['ФИО'].str.endswith('а').apply(lambda x: 2000 if x else 0)
    df['Премия 23 февраля'] = df['ФИО'].str.endswith('а').apply(lambda x: 0 if x else 2000)
    return df

# Функция для индексации зарплат
def calculate_salary_indexation(df):
    current_date = datetime.now()
    years_worked = (current_date - df['Дата найма']).dt.days / 365.25
    df['Индексация'] = df.apply(lambda row: row['Оклад'] * 0.07 if row['Дата найма'] <= current_date - pd.DateOffset(years=10) else row['Оклад'] * 0.05, axis=1)
    return df

# Функция для составления графика отпусков
def create_vacation_schedule(df):
    current_date = datetime.now()
    months_worked = (current_date - df['Дата найма']).dt.days / 30.44
    eligible_for_vacation = df[months_worked > 6]
    return eligible_for_vacation

# Функция для записи данных в CSV
def write_to_csv(df, filename):
    df.to_csv(filename, index=False)

# Функция для записи данных в JSON
def write_to_json(df, filename):
    df.to_json(filename, orient='records', indent=4)

# Пример использования функций
programmer_bonus = calculate_programmer_bonus(df)
df = calculate_gender_bonus(df)
indexed_salaries = calculate_salary_indexation(df)
vacation_schedule = create_vacation_schedule(df)

# Запись данных в CSV и JSON
write_to_csv(indexed_salaries, 'indexed_salaries.csv')
write_to_json(indexed_salaries, 'indexed_salaries.json')

print("Премия программистам:", programmer_bonus)
print("Премия женщинам к 8 марта:", df[df['ФИО'].str.endswith('а')][['ФИО', 'Премия 8 марта']])
print("Премия мужчинам к 23 февраля:", df[~df['ФИО'].str.endswith('а')][['ФИО', 'Премия 23 февраля']])
print("Индексация зарплат:", indexed_salaries)
print("График отпусков:", vacation_schedule)

Премия программистам: 2    4500.0
3    3600.0
4    1500.0
Name: Оклад, dtype: float64
Премия женщинам к 8 марта:                             ФИО  Премия 8 марта
1  Сорокина Екатерина Матвеевна            2000
3        Корнеева Анна Игоревна            2000
6      Савченко Алина Сергеевна            2000
Премия мужчинам к 23 февраля:                             ФИО  Премия 23 февраля
0          Иванов Иван Иванович               2000
2        Струков Иван Сергеевич               2000
4  Старчиков Сергей Анатольевич               2000
5       Бутенко Артем Андреевич               2000
Индексация зарплат:                             ФИО            Должность Дата найма   Оклад  \
0          Иванов Иван Иванович             Менеджер 2013-10-22  250000
1  Сорокина Екатерина Матвеевна             Аналитик 2020-03-12   75000
2        Струков Иван Сергеевич  Старший программист 2012-04-23  150000
3        Корнеева Анна Игоревна  Ведущий программист 2015-02-22  120000
4  Старчиков Сергей Анатольевич  Младший программист 2021-11-12   50000
5       Бутенко Артем Андреевич           Архитектор 2010-02-12  200000
6      Савченко Алина Сергеевна     Старший аналитик 2016-04-13  100000

   Премия 8 марта  Премия 23 февраля  Индексация
0               0               2000     17500.0
1            2000                  0      3750.0
2               0               2000     10500.0
3            2000                  0      6000.0
4               0               2000      2500.0
5               0               2000     14000.0
6            2000                  0      5000.0
График отпусков:                             ФИО            Должность Дата найма   Оклад  \
0          Иванов Иван Иванович             Менеджер 2013-10-22  250000
1  Сорокина Екатерина Матвеевна             Аналитик 2020-03-12   75000
2        Струков Иван Сергеевич  Старший программист 2012-04-23  150000
3        Корнеева Анна Игоревна  Ведущий программист 2015-02-22  120000
4  Старчиков Сергей Анатольевич  Младший программист 2021-11-12   50000
5       Бутенко Артем Андреевич           Архитектор 2010-02-12  200000
6      Савченко Алина Сергеевна     Старший аналитик 2016-04-13  100000

   Премия 8 марта  Премия 23 февраля  Индексация
0               0               2000     17500.0
1            2000                  0      3750.0
2               0               2000     10500.0
3            2000                  0      6000.0
4               0               2000      2500.0
5               0               2000     14000.0
6            2000                  0      5000.0

In [14]:
df.head()

,ФИО,Должность,Дата найма,Оклад,Премия 8 марта,Премия 23 февраля,Индексация
0,Иванов Иван Иванович,Менеджер,2013-10-22,250000,0,2000,17500.0
1,Сорокина Екатерина Матвеевна,Аналитик,2020-03-12,75000,2000,0,3750.0
2,Струков Иван Сергеевич,Старший программист,2012-04-23,150000,0,2000,10500.0
3,Корнеева Анна Игоревна,Ведущий программист,2015-02-22,120000,2000,0,6000.0
4,Старчиков Сергей Анатольевич,Младший программист,2021-11-12,50000,0,2000,2500.0