Задания из методички

In [1]:
length = 8
width = 10
print(length*width)

80

In [2]:
length = 20
width = 10
print(length*width)

200

In [3]:
a = 23
b = 13
S = a*b
print(S)

299

In [4]:
(6*6)-1 == 8+1

False

In [5]:
13-7 != (3*2)+1

True

In [6]:
3*(2-1) == 4-1

True

In [7]:
(6*6)-1 >= 8+1

True

In [8]:
13-7 <= (3*2)+1

True

In [9]:
3*(2-1) > 4-1

False

In [10]:
bool_variable = true
print(bool_variable)

NameError: name 'true' is not defined

In [15]:
bool_variable = 'true'
print(bool_variable)

true

In [17]:
type(bool_variable)

str

In [18]:
bool_variable_2 = True
print(type(bool_variable_2))

<class 'bool'>

In [30]:
#Ангелина
user_name = input('Введите ваше имя: ')
Dmitriy_check = 'Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!'
welcome_message = 'Добро пожаловать'
if user_name.lower() == 'дмитрий':
    print(Dmitriy_check)
else:
    print(welcome_message)

Добро пожаловать

In [31]:
#Дмитрий
user_name = input('Введите ваше имя: ')
Dmitriy_check = 'Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!'
welcome_message = 'Добро пожаловать'
if user_name.lower() == 'дмитрий':
    print(Dmitriy_check)
else:
    print(welcome_message)

Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!

In [28]:
enter_number = 0
if enter_number < 3:
    enter_number+=1
    print("Попробуйте еще раз. У вас осталось", 3-enter_number, "попыток")
    
elif enter_number >= 3:
    print("Вы превысили максимальное число попыток. Ваша учетная запись заблокирована.Для разблокировки обратитесь в службу поддержки».")

Попробуйте еще раз. У вас осталось 2 попыток

In [29]:
enter_number = 0

while True:
    if enter_number < 3:
        print("Попробуйте еще раз. У вас осталось", 3 - enter_number, "попыток.")
        enter_number += 1
    elif enter_number >= 3:
        print("Вы превысили максимальное число попыток. Ваша учетная запись заблокирована. Для разблокировки обратитесь в службу поддержки.")
        break

Попробуйте еще раз. У вас осталось 3 попыток.
Попробуйте еще раз. У вас осталось 2 попыток.
Попробуйте еще раз. У вас осталось 1 попыток.
Вы превысили максимальное число попыток. Ваша учетная запись заблокирована. Для разблокировки обратитесь в службу поддержки.

In [30]:
(2-1 > 3) or (-5*2 == -10)

True

In [31]:
(9+5 <= 15) or (7 != 4+3)

True

In [32]:
enter_number = 0
if enter_number < 3:
    enter_number+=1
    print("Попробуйте еще раз. У вас осталось", 3-enter_number, "попыток")
    
else:
    print("Вы превысили максимальное число попыток. Ваша учетная запись заблокирована.Для разблокировки обратитесь в службу поддержки».")

Попробуйте еще раз. У вас осталось 2 попыток

In [39]:
a = int(input())
b = int(input())
try:
    result = a/b
    print(result)
except ZeroDivisionError:
    print("деление на 0 не допустимо")

деление на 0 не допустимо

In [37]:
grade = int(input())
match grade:
    case 4.0:
        print("A")
    case 3.0:
        print("B")
    case 2.0:
        print("C")
    case 1.0:
        print("D")
    case 0.0:
        print("F")

B

In [40]:
def create_spreadsheet(title):
    print("Создание электронной таблицы с именем", title)

In [43]:
create_spreadsheet("Загрузки")

Создание электронной таблицы с именем Загрузки

In [42]:
def create_spreadsheet(title, row_count=1000):
    print("Создание электронной таблицы с именем", title)

In [47]:
def create_spreadsheet(title, row_count=1000):
    print("Создание электронной таблицы с названием", title, "with", row_count, "lines")

In [48]:
create_spreadsheet("Загрузки")

Создание электронной таблицы с названием Загрузки with 1000 lines

In [49]:
def create_spreadsheet(title, row_count):
    print("Создание электронной таблицы с названием", title, "with", row_count, "lines")

In [50]:
create_spreadsheet("Приложения", 10)

Создание электронной таблицы с названием Приложения with 10 lines

In [51]:
def calc_age(current_year, birth_year):
    age = current_year - birth_year
    print(age)

In [53]:
my_age = calc_age(2049, 1993)

56

In [54]:
dads_age = calc_age(2049, 1953)

96

In [61]:
print("Мне", my_age, "лет, а моему отцу", dads_age, "лет")

Мне 56 лет, а моему отцу 96 лет

In [62]:
def get_boundaries(target, margin):
    low_limit = target-margin
    high_limit = margin+target
    return low_limit, high_limit

In [64]:
low_limit, high_limit = get_boundaries(100, 20)
print(low_limit)
print(high_limit)

80
120

In [65]:
print("Нижний предел: ", low_limit, ", верхний предел: ", high_limit)

Нижний предел:  80 , верхний предел:  120

In [66]:
def repeat_stuff(stuff, num_repeats = 10):
    returnstatement = stuff*num_repeats
    print()

In [68]:
repeat_stuff("Row", 3)

In [69]:
def repeat_stuff(stuff, num_repeats=10):
    return stuff * num_repeats

result = repeat_stuff("Row", 3)
lyrics = result + " Your Boat."
song = repeat_stuff("Row")
print(song)

RowRowRowRowRowRowRowRowRowRow

In [71]:
shopping_list = ['торт', 1]

In [72]:
shopping_list

['торт', 1]

In [73]:
household_chemicals = [['стиральный порошок', 1], ['средство для мытья посуды', 1]]

In [75]:
names = ['Ben', 'Holly', 'Ann']
dogs_names = ['Sharik', 'Gab', 'Beethoven']

In [82]:
names_and_dogs_names = zip(names, dogs_names)
print(list(names_and_dogs_names))

[('Ben', 'Sharik'), ('Holly', 'Gab'), ('Ann', 'Beethoven')]

In [83]:
list_of_names_and_dogs_names = list(names_and_dogs_names)
print(list_of_names_and_dogs_names)

[]

In [94]:
orders = ['маргаритки', 'васильки']
orders

['маргаритки', 'васильки']

In [95]:
orders.append("тюльпаны")
orders.append("розы")

In [97]:
orders

['маргаритки', 'васильки', 'тюльпаны', 'розы']

In [98]:
new_orders = orders + ["сирень", "ирис"]
new_orders

['маргаритки', 'васильки', 'тюльпаны', 'розы', 'сирень', 'ирис']

In [1]:
first_names = ["Анна", "Борис", "Александр", "Денис"]

In [2]:
age = []

In [3]:
age.append(42)
age

[42]

In [4]:
all_ages = [32, 41, 29]
all_ages.append(age)
all_ages

[32, 41, 29, [42]]

In [7]:
name_and_age = zip(first_names, all_ages)
print(list(name_and_age))

[('Анна', 32), ('Борис', 41), ('Александр', 29), ('Денис', [42])]

In [11]:
ids = list(range(0,4))
print(ids)

[0, 1, 2, 3]

In [14]:
votes = ['Jake', 'Jake', 'Laurie', 'Laurie', 'Laurie', 'Jake', 'Jake', 'Jake', 'Laurie', 'Cassie', 'Cassie',
'Jake', 'Jake', 'Cassie', 'Laurie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie']

In [16]:
num_i = votes.count('Jake')
num_i

9

In [2]:
addresses = ['221 B Baker St.', '42 Wallaby Way', '12 Grimmauld Place', '742 Evergreen Terrace'
, '1600 Pennsylvania Ave', '10 Downing St.']
addresses.sort()
addresses

['10 Downing St.',
 '12 Grimmauld Place',
 '1600 Pennsylvania Ave',
 '221 B Baker St.',
 '42 Wallaby Way',
 '742 Evergreen Terrace']

In [6]:
inventory = ['двухспальная кровать', 'двухспальная кровать', 'изголовье', 'двуспальная кровать', 'двуспальная кровать', 
'комод', 'комод', 'стол', 'стол', 'тумбочка',
'тумбочка', 'королевский кровать', 'двуспальная кровать', 'две односпальные кровати',
'две односпальные кровати', 'простыни', 'простыни', 'подушка', 'подушка']

In [8]:
print(len(inventory))

19

In [11]:
order = ["паста", "пицца", "салат капрезе"]
order.extend(["салат цезарь"])
order.extend(["кофе"])
order.extend(["сухое вино"])
order

['паста', 'пицца', 'салат капрезе', 'салат цезарь', 'кофе', 'сухое вино']

In [18]:
del order[1:3]
order

['паста', 'салат цезарь', 'кофе', 'сухое вино']

In [21]:
order.reverse()
order

['паста', 'салат цезарь', 'кофе', 'сухое вино']

In [22]:
order_1 = order.copy()
order_1

['паста', 'салат цезарь', 'кофе', 'сухое вино']

In [13]:
orders = ["паста", "пицца", "салат капрезе"]
orders.insert(0, "закуска")
orders

['закуска', 'паста', 'пицца', 'салат капрезе']

In [15]:
orders.remove("салат капрезе")
orders

['закуска', 'пицца']

In [16]:
orders.pop(-1)
orders

['закуска']

In [17]:
orders.clear()
orders

[]

In [23]:
single_digits = list(range(10))

for digit in single_digits:
    print(digit)

squares = []

for digit in single_digits:
    squares.append(digit ** 2)

print(squares)

cubes = [digit ** 3 for digit in single_digits]

print(cubes)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [25]:
word = input()
letter = input()
def letter_check(word, letter):
    if letter in word:
        return True
    else:
        return False

letter_check(word, letter)

True

In [27]:
sensors = {"living room": 21, "kitchen": 23, "bedroom": 20}
sensors = {"living room": 21, "kitchen": 23, "bedroom": 20, "pantry": 22}
sensors

{'living room': 21, 'kitchen': 23, 'bedroom': 20, 'pantry': 22}

In [28]:
sensors["bathroom"] = 26
sensors

{'living room': 21, 'kitchen': 23, 'bedroom': 20, 'pantry': 22, 'bathroom': 26}

In [30]:
sensors.update({"guest room": 25, "patio": 34})
sensors

{'living room': 21,
 'kitchen': 23,
 'bedroom': 20,
 'pantry': 22,
 'bathroom': 26,
 'guest room': 25,
 'patio': 34}

In [36]:
zodiac_elements = {"water": ["Cancer", "Scorpio", "Pisces"], "fire": ["Aries", "Leo", "Sagittarius"], "earth": ["Taurus", "Virgo", "Capricorn"], "air":["Gemini", "Libra", "Aquarius"]}
zodiac_elements["fire"]

['Aries', 'Leo', 'Sagittarius']

In [37]:
caffeine_level = {"espresso": 64, "chai": 40, "decaf": 0, "drip": 120, "matcha": 30}
try:
    print(caffeine_level['matcha'])
except KeyError:
    print("Неизвестный уровень кофеина")

30

In [13]:
user_ids = {"teraCoder": 100019, "pythonGuy": 182921, "samTheJavaMaam": 123112, "lyleLoop": 102931, "keysmithKeith": 129384}

tc_id = user_ids.get('teraCoder', 100000)
print(tc_id)
stack_id = user_ids.get('superStackSmash', 100000)
print(stack_id)

100019
100000

In [14]:
tarot = { 1: "The Magician", 2: "The High Priestess", 3: "The Empress", 4: "The Emperor",
5: "The Hierophant", 6: "The Lovers", 7: "The Chariot", 8: "Strength", 9: "The Hermit", 10:
"Wheel of Fortune", 11: "Justice", 12: "The Hanged Man", 13: "Death", 14: "Temperance",
15: "The Devil", 16: "The Tower", 17: "The Star", 18: "The Moon", 19: "The Sun", 20: "Judgement", 21: "The World", 22: "The Fool"}

In [17]:
spread = {}
spread['прошлое'] = tarot[13]
spread['настоящее'] = tarot[22]
spread['будущее'] = tarot[10]
print(spread)

{'прошлое': 'Death', 'настоящее': 'The Fool', 'будущее': 'Wheel of Fortune'}