<div class="alert alert-info"> 
Задача 1.
    
Создайте программу, которая принимает текст от пользователя и анализирует частоту появления каждого слова в этом тексте. Программа должна выводить слова и их количество в порядке убывания частоты.
    
- Программа должна разбивать текст на слова. Убедитесь, что слова очищены от знаков
препинания и приведены к нижнему регистру.
- Используйте словарь для хранения слов и их частоты. Ключом будет слово, а значением
— количество его появлений.
- Выведите слова и их частоту в порядке убывания частоты. Если несколько слов имеют
одинаковую частоту, выведите их в алфавитном порядке.
    </div>

In [1]:
text = 'На шагающих утят быть похожими хотят, Быть похожими хотят не зря, не зря. Можно хвостик отряхнуть и \
пуститься в дальний путь И пуститься в дальний путь, крича "кря- кря". И природа хороша, и погода хороша, Нет, \
не зря поет душа, не зря, не зря. Даже толстый бегемот, неуклюжий бегемот От утят не отстает, кряхтит "кря- кря"'
text = text.lower()

def replace_symbols(string=text, symbols_list=[',','"','.','!',':','-'], replace_to='')->str:
    for symbol in symbols_list:
        string=string.replace(symbol,replace_to)
    return string

text = replace_symbols(text)
text = text.split(' ')
unique_list = list(set(text))

result = {}
for word in unique_list:
    result[word] = text.count(word)
    res_it = result.items()
    items = sorted(res_it, key = lambda x:(-x[1], x[0]))
    
print("Слово\t\tКоличество")
print("-------------------------")
for word, count in items:
    print(f"{word:<15} {count}")

Слово		Количество
-------------------------
не              6
зря             5
и               4
кря             4
бегемот         2
быть            2
в               2
дальний         2
похожими        2
пуститься       2
путь            2
утят            2
хороша          2
хотят           2
даже            1
душа            1
крича           1
кряхтит         1
можно           1
на              1
нет             1
неуклюжий       1
от              1
отряхнуть       1
отстает         1
погода          1
поет            1
природа         1
толстый         1
хвостик         1
шагающих        1

<div class="alert alert-info"> 
Задача 2.
    
Компания реализует оказание услуг в области ногтевого сервиса. Вас просят, как
аналитика данных, рассчитать некоторую статистику по одной неделе.

Имеются 3 списка, сгенерированных в результате работы в эту неделю:

-Первый список характеризует виды маникюра, которые делает данный салон:
Nail_style=[“Шеллак”, “Френч”, “Обычный лак”, “Гель-лак”, “Акрил”]

-Второй список характеризует цены на эти услуги:
Price = [2000, 1500, 1000, 3000, 3500, 3200]

-Третий список показывает, сколько раз за неделю заказывали тот или иной вид
маникюра соответственно
Week = [4, 5, 4, 8, 6]


Хозяйка салона просит вас написать приложение, которое выводит в консоль:
Среднее значение посещений салона
Общее количество посещений салона
+Выручку салона
+Выручку по видам маникюра
+Среднюю выручку в день по видам маникюра

In [2]:
manic_type = ['Шеллак', 'Френч', 'Обычный лак', 'Гель-лак', 'Акрил']
price = [2000, 1500, 1000, 3000, 3500]
week = [4, 5, 4, 8, 6] 

visits_all = sum(week) #общ кол-во посещений
visits_avg = visits_all/len(week) #ср кол-во посещений

i = 0
revenue = 0
for i in range(len(week)):
    price_week = price[i] * week[i]
    revenue += price_week
    i += 1 #общ выручка
    
print("Среднее значение посещений салона:",visits_avg)
print("Общее количество посещений салона:", visits_all)
print("Общая вручка салона :", revenue)

n = 0
for n in range(len(week)):
    print(manic_type[n], ": выручка за неделю:", price[n] * week[n], "/", 
          "cредняя выручка за день:", (price[n] * week[n])/len(week))
    n += 1

Среднее значение посещений салона: 5.4
Общее количество посещений салона: 27
Общая вручка салона : 64500
Шеллак : выручка за неделю: 8000 / cредняя выручка за день: 1600.0
Френч : выручка за неделю: 7500 / cредняя выручка за день: 1500.0
Обычный лак : выручка за неделю: 4000 / cредняя выручка за день: 800.0
Гель-лак : выручка за неделю: 24000 / cредняя выручка за день: 4800.0
Акрил : выручка за неделю: 21000 / cредняя выручка за день: 4200.0

<div class="alert alert-info"> 
Задача 3. 
    
1. Начальство решило выплачивать премии ко дню программиста в сентябре (13
сентября – день программиста). Премия будет составлять 3% от оклада каждому
программисту. Реализуйте функцию, которая будет рассчитывать премию.
    
2. Начальство решило выплачивать премии к 8 марта всем сотрудницам, а к 23
февраля сотрудникам, равные 2000 Реализуйте функцию, которая будет
рассчитывать премию.
    
3. Было решено провести индексацию зарплат сотрудников. Сотрудникам, которые
отработали в компании более 10 лет, индексация будет равна 7% оклада,
остальным – 5%.
    
4. Необходимо составить график отпусков сотрудников. Для этого необходимо в
отдельный список занести тех сотрудников, которые отработали в компании более
6 месяцев. Реализовать функцию.
    
5. Реализуйте функции записи в csv и json.
    </div>

In [3]:
import numpy as np
import pandas as pd
from datetime import datetime

In [4]:
ml = pd.read_csv('employees.csv')

In [5]:
ml

                            ФИО            Должность  Дата найма   Оклад
0          Иванов Иван Иванович             Менеджер  22.10.2013  250000
1  Сорокина Екатерина Матвеевна             Аналитик  12.03.2020   75000
2        Струков Иван Сергеевич  Старший программист  23.04.2012  150000
3        Корнеева Анна Игоревна  Ведущий программист  22.02.2015  120000
4  Старчиков Сергей Анатольевич  Младший программист  12.11.2021   50000
5       Бутенко Артем Андреевич           Архитектор  12.02.2010  200000
6      Савченко Алина Сергеевна     Старший аналитик  13.04.2016  100000

In [6]:
ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ФИО         7 non-null      object
 1   Должность   7 non-null      object
 2   Дата найма  7 non-null      object
 3   Оклад       7 non-null      int64
dtypes: int64(1), object(3)
memory usage: 352.0+ bytes

<div class="alert alert-info"> 

1. Начальство решило выплачивать премии ко дню программиста в сентябре (13
сентября – день программиста). Премия будет составлять 3% от оклада каждому
программисту. Реализуйте функцию, которая будет рассчитывать премию.   
    </div>

In [7]:
ml['Премия'] = ml['Оклад']*3/100 #рассчитанная премия сотрудникам в колонке "Премия"
ml

,ФИО,Должность,Дата найма,Оклад,Премия
0,Иванов Иван Иванович,Менеджер,22.10.2013,250000,7500.0
1,Сорокина Екатерина Матвеевна,Аналитик,12.03.2020,75000,2250.0
2,Струков Иван Сергеевич,Старший программист,23.04.2012,150000,4500.0
3,Корнеева Анна Игоревна,Ведущий программист,22.02.2015,120000,3600.0
4,Старчиков Сергей Анатольевич,Младший программист,12.11.2021,50000,1500.0
5,Бутенко Артем Андреевич,Архитектор,12.02.2010,200000,6000.0
6,Савченко Алина Сергеевна,Старший аналитик,13.04.2016,100000,3000.0

<div class="alert alert-info"> 
2. Начальство решило выплачивать премии к 8 марта всем сотрудницам, а к 23
февраля сотрудникам, равные 2000 Реализуйте функцию, которая будет
рассчитывать премию.
    </div>

In [8]:
ml['пол'] = ['м','ж','м','ж','м','м','ж']
ml

,ФИО,Должность,Дата найма,Оклад,Премия,пол
0,Иванов Иван Иванович,Менеджер,22.10.2013,250000,7500.0,м
1,Сорокина Екатерина Матвеевна,Аналитик,12.03.2020,75000,2250.0,ж
2,Струков Иван Сергеевич,Старший программист,23.04.2012,150000,4500.0,м
3,Корнеева Анна Игоревна,Ведущий программист,22.02.2015,120000,3600.0,ж
4,Старчиков Сергей Анатольевич,Младший программист,12.11.2021,50000,1500.0,м
5,Бутенко Артем Андреевич,Архитектор,12.02.2010,200000,6000.0,м
6,Савченко Алина Сергеевна,Старший аналитик,13.04.2016,100000,3000.0,ж

In [9]:
def get_bonus_message(surname): #функция рассчитывающая премию опираясь на пол
    row = ml[ml['ФИО'].str.contains(surname)]
    
    if not row.empty:
        gender = row['пол'].values[0]
        
        if gender == "ж":
            return "На 8 марта премия 2000"
        elif gender == "м":
            return "На 23 февраля премия 2000"
    else:
        return "Фамилия не найдена"

print(get_bonus_message("Кора Игоревна"))
print(get_bonus_message("Бутенко Артем Андреевич"))
print(get_bonus_message("Сорокина Екатерина Матвеевна"))

Фамилия не найдена
На 23 февраля премия 2000
На 8 марта премия 2000

<div class="alert alert-info"> 
3. Было решено провести индексацию зарплат сотрудников. Сотрудникам, которые
отработали в компании более 10 лет, индексация будет равна 7% оклада,
остальным – 5%.
    </div>

In [10]:
ml['Дата найма'] = pd.to_datetime(ml['Дата найма'])

In [11]:
ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ФИО         7 non-null      object
 1   Должность   7 non-null      object
 2   Дата найма  7 non-null      datetime64[ns]
 3   Оклад       7 non-null      int64
 4   Премия      7 non-null      float64
 5   пол         7 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 464.0+ bytes

In [12]:
current_date = pd.to_datetime(datetime.now())

def index_salary(row): # Функция для индексации оклада
    years_worked = (current_date - row['Дата найма']).days / 365.25  
    if years_worked < 10:
        return row['Оклад'] * 1.05 
    else:
        return row['Оклад'] * 1.07  

ml['Проиндексированный оклад'] = ml.apply(index_salary, axis=1)
ml

,ФИО,Должность,Дата найма,Оклад,Премия,пол,Проиндексированный оклад
0,Иванов Иван Иванович,Менеджер,2013-10-22,250000,7500.0,м,267500.0
1,Сорокина Екатерина Матвеевна,Аналитик,2020-12-03,75000,2250.0,ж,78750.0
2,Струков Иван Сергеевич,Старший программист,2012-04-23,150000,4500.0,м,160500.0
3,Корнеева Анна Игоревна,Ведущий программист,2015-02-22,120000,3600.0,ж,126000.0
4,Старчиков Сергей Анатольевич,Младший программист,2021-12-11,50000,1500.0,м,52500.0
5,Бутенко Артем Андреевич,Архитектор,2010-12-02,200000,6000.0,м,214000.0
6,Савченко Алина Сергеевна,Старший аналитик,2016-04-13,100000,3000.0,ж,105000.0

<div class="alert alert-info"> 
4. Необходимо составить график отпусков сотрудников. Для этого необходимо в
отдельный список занести тех сотрудников, которые отработали в компании более
6 месяцев. Реализовать функцию.
    </div>

In [13]:
def employees_over_six_months(dataframe):
    employees_list = []
    
    for index, row in dataframe.iterrows():
        months_worked = (current_date - row['Дата найма']).days / 30.44  
        if months_worked > 6:
            employees_list.append(row['ФИО']) 
    
    return employees_list

long_term_employees = employees_over_six_months(ml)

print("Сотрудники, отработавшие более 6 месяцев:", long_term_employees)

Сотрудники, отработавшие более 6 месяцев: ['Иванов Иван Иванович', 'Сорокина Екатерина Матвеевна', 'Струков Иван Сергеевич', 'Корнеева Анна Игоревна', 'Старчиков Сергей Анатольевич', 'Бутенко Артем Андреевич', 'Савченко Алина Сергеевна']

<div class="alert alert-info">     
5. Реализуйте функции записи в csv и json.
    </div>

In [14]:
def save_to_csv(dataframe, filename):
    dataframe.to_csv(filename, index=False)
    print(f'DataFrame успешно сохранен в {filename}')

def save_to_json(dataframe, filename):
    dataframe.to_json(filename, orient='records', lines=True, force_ascii=False)  # Отключаем ASCII экранирование
    print(f'DataFrame успешно сохранен в {filename}')

# Пример использования
save_to_csv(ml, 'data1.csv')
save_to_json(ml, 'data1.json')

DataFrame успешно сохранен в data1.csv
DataFrame успешно сохранен в data1.json

<div class="alert alert-info">     
Задания на 90 страницах:
    </div>

In [15]:
greeting = 'Hello, world!'
print(greeting)

Hello, world!

In [16]:
length = 8
width = 10
length = 20
print(length * width)

200

In [17]:
length = 23
width = 13
print(length * width)

299

In [18]:
print((6 * 6) - 1 == 8 + 1)
print(13 - 7 != (3 * 2) + 1)
print(3 * (2 - 1) == 4 - 1)

False
True
True

In [19]:
print((6 * 6) - 1 >= 8 + 1)
print(13 - 7 <= (3 * 2) + 1)
print(3 * (2 - 1) > 4 - 1)

True
True
False

In [20]:
bool_variable = 'true'
print(type(bool_variable))

<class 'str'>

In [21]:
bool_variable_2 = True
print(type(bool_variable_2))

<class 'bool'>

In [22]:
user_name = 'Дмитрий'
Dmitriy_check = 'Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!'

message = 'Добро пожаловать'

if user_name == 'Дмитрий':
    print(Dmitriy_check)
else: 
    print(message)

Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!

In [23]:
user_name = input("Введите ваше имя: ")
Dmitriy_check = "Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!"
welcome_message = "Добро пожаловать"
if user_name == "Дмитрий":
    print(Dmitriy_check)
else:
    print(f"{welcome_message}, {user_name}!")

Введите ваше имя: Дмитрий
Дмитрий, твое рабочее место находится в другой комнате. Отойди от чужого компьютера и займись работой!

In [24]:
statement_one = print((2 + 2 + 2 >= 6) and (-1 * -1 < 0))
statement_two = print((4 * 2 <= 8) and (7 - 1 == 6))

False
True

In [25]:
def define_age(current_year,birth_year):
    age = current_year - birth_year
    return age

my_age=define_age(2049, 1993)
dads_age=define_age(2049, 1953)

print(f"Мне {my_age} лет, а моему отцу {dads_age}")

Мне 56 лет, а моему отцу 96

In [26]:
orders = ['маргаритка', 'лютик', 'львиный зев', 'гардения', 'лилия']
new_orders = orders + ["сирень", "ирис"]
broken_prices = [5, 3, 4, 5, 4] + [4]
print(new_orders)
print(broken_prices)

['маргаритка', 'лютик', 'львиный зев', 'гардения', 'лилия', 'сирень', 'ирис']
[5, 3, 4, 5, 4, 4]

In [27]:
first_names = ["Анна", "Борис", "Александр", "Денис"]
age = []
age.append(42)
all_ages = [32, 41, 29] + age
name_and_age = zip(first_names, all_ages)
ids = range(0, 4)
print(list(name_and_age))
print(list(ids))

[('Анна', 32), ('Борис', 41), ('Александр', 29), ('Денис', 42)]
[0, 1, 2, 3]

In [28]:
list1 = range(2, 20, 3)
list1_len=len(list1)
print(list1_len)
list1_len=len(list1)
print(list1_len)

6
6

In [29]:
shopping_list = ['яйца', 'масло', 'молоко', 'огурцы', 'сок', 'хлопья']
print(len(shopping_list))
last_element = shopping_list[-1]
element5=shopping_list[5]
print(last_element)
print(element5)

6
хлопья
хлопья

In [30]:
suitcase = ['рубашка', 'рубашка', 'брюки', 'брюки', 'пижамы', 'книги']
beginning = suitcase [0: 5]
middle =suitcase[2:4]
print(len(beginning))
print(middle)

5
['брюки', 'брюки']

In [31]:
votes = ['Jake', 'Jake', 'Laurie', 'Laurie', 'Laurie', 'Jake', 'Jake', 'Jake', 'Laurie', 'Cassie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie', 'Cassie', 'Jake', 'Jake', 'Cassie', 'Laurie']
jake_votes = votes.count("Jake")
print(jake_votes)

9

In [32]:
games = ['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']
games_sorted = sorted(games)
print(games)
print(games_sorted)

['Portal', 'Minecraft', 'Pacman', 'Tetris', 'The Sims', 'Pokemon']
['Minecraft', 'Pacman', 'Pokemon', 'Portal', 'Tetris', 'The Sims']

In [33]:
order = ["паста", "пицца", "капрезе"]
order+=["сатат цещари", "кофе"]
order+=["красное виное"]
print(order)

['паста', 'пицца', 'капрезе', 'сатат цещари', 'кофе', 'красное виное']

In [34]:
order = ["паста", "пицца", "капрезе"]
order+=["сатат цезарь", "кофе"]
order+=["красное виное"]
order.insert(0, "закуска из овощей")
order.remove("капрезе")
order.pop(5)
print(order)

['закуска из овощей', 'паста', 'пицца', 'сатат цезарь', 'кофе']

In [35]:
board_games = ['Settlers of Catan', 'Carcassone', 'Power Grid', 'Agricola', 'Scrabble']
sport_games = ['football', 'football - American', 'hockey', 'baseball', 'cricket']
for game in board_games:
    print(game)
for sport in sport_games:
    print(sport)

Settlers of Catan
Carcassone
Power Grid
Agricola
Scrabble
football
football - American
hockey
baseball
cricket

In [36]:
students_period_A = ["Alex", "Briana", "Cheri", "Daniele"]
students_period_B = ["Dora", "Minerva", "Alexa", "Obie"]

for i in students_period_A:
    student = students_period_B + students_period_A
    
print(student)

['Dora', 'Minerva', 'Alexa', 'Obie', 'Alex', 'Briana', 'Cheri', 'Daniele']

In [37]:
dog_breeds_available_for_adoption = ['french_bulldog', 'dalmatian', 'shihtzu', 'poodle', 'collie']
dog_breed_I_want = 'dalmatian'

for i in dog_breeds_available_for_adoption:
    if i == dog_breed_I_want:
        print("У них есть собака, которую я хочу!")
        break
    print(i)

french_bulldog
У них есть собака, которую я хочу!

In [38]:
sales_data = [[12, 17, 22], [2, 10, 3], [5, 12, 13]]
scoops_sold = 0

for i in sales_data:
    for j in i:
        scoops_sold+=j
        
print(scoops_sold)

96

In [39]:
first_name = "Виталий"
last_name ="Красилов"
new_account = last_name[:5]
temp_password = last_name[3:6]
print(new_account)
print(temp_password)

Краси
сил

In [40]:
first_name = "Виталий"
last_name ="Красилов"

def account_generator (first_name, last_name):
    return first_name[:3]+last_name[:3]

new_account = account_generator(first_name, last_name)
print(new_account)

ВитКра

In [41]:
company_motto= "Мечты сбываются"
second_to_last = company_motto[-2]
print(second_to_last)
final_word = company_motto[-4:]
print(final_word)

с
ются

In [42]:
def get_length(string):
    return len(string)

a = "Привет"
b = get_length(a)
print(b)

6

In [43]:
def contains(big_string, little_string):
    if little_string in big_string:
        return True
    else:
        return False
        
answ = contains("watermelon", "berry")
print(answ)

def common_letters(string_one, string_two):
    for char in string_one:
        if char in string_two:
            return char
    

a = common_letters("banana", "cream")
print(a)

False
a

In [44]:
def username_generator(first_name, last_name):
    if len(first_name)<3:
        return first_name+last_name[:4]
    elif len(last_name)<4:
        return first_name[:3]+last_name
    return first_name[:3]+last_name[:4]

def password_generator(username):
    password = ''
    for symb in username:
        password = username[-1]+username[0:-1]
    return password
        
first_name = "Abe"
last_name = "Simpson"
username = username_generator(first_name, last_name)
password = password_generator(username)
print(username)
print(password)

AbeSimp
pAbeSim

In [45]:
authors = "Audre Lorde, Carlos Williams, Gabriela Mistral, Jean Toomer, An Qi, Walt Whitman, Shel Silverstein, Carmen Boullosa, Kamala Suraiyya, Langston Hughes, Adrienne Rich, Nikki Giovanni"
author_names = authors.split(", ")
print(author_names)
author_last_names = [name.split()[-1] for name in author_names]
print(author_last_names)

['Audre Lorde', 'Carlos Williams', 'Gabriela Mistral', 'Jean Toomer', 'An Qi', 'Walt Whitman', 'Shel Silverstein', 'Carmen Boullosa', 'Kamala Suraiyya', 'Langston Hughes', 'Adrienne Rich', 'Nikki Giovanni']
['Lorde', 'Williams', 'Mistral', 'Toomer', 'Qi', 'Whitman', 'Silverstein', 'Boullosa', 'Suraiyya', 'Hughes', 'Rich', 'Giovanni']

In [46]:
sensors =  {"living room": 21, "kitchen": 23, "bedroom": 20}
sensors["кладовая"] = 22
num_cameras = {"backyard": 6,  "garage": 2,  "driveway": 1}
print(sensors)
print(num_cameras)

{'living room': 21, 'kitchen': 23, 'bedroom': 20, 'кладовая': 22}
{'backyard': 6, 'garage': 2, 'driveway': 1}

In [47]:
animals_in_zoo = {}
animals_in_zoo["зебры"]=8
animals_in_zoo["обезьяны"]=12
animals_in_zoo["динозавтры"]=0
print(animals_in_zoo)

{'зебры': 8, 'обезьяны': 12, 'динозавтры': 0}

In [48]:
oscar_winners = {"Best Picture": "La La Land", "Best Actor": "Casey Affleck", "Best Actress": "Emma Stone", "Animated Feature": "Zootopia"}
oscar_winners["Supporting Actress"] = "Viola Davis"
oscar_winners["Best Picture"] = "Moonlight"
print(oscar_winners)

{'Best Picture': 'Moonlight', 'Best Actor': 'Casey Affleck', 'Best Actress': 'Emma Stone', 'Animated Feature': 'Zootopia', 'Supporting Actress': 'Viola Davis'}

In [49]:
drinks = ["espresso", "chai", "decaf", "drip"]
caffeine = [64, 40, 0, 120]
zipped_drinks = zip(drinks, caffeine)
drinks_to_caffeine = {key:value for key, value in zipped_drinks}
print(drinks_to_caffeine)

{'espresso': 64, 'chai': 40, 'decaf': 0, 'drip': 120}

In [50]:
songs = ["Like a Rolling Stone", "Satisfaction", "Imagine", "What's Going On", "Respect", "Good Vibrations"]
playcounts = [78, 29, 44, 21, 89, 5]
plays = {song:playcount for song, playcount in zip(songs, playcounts)}
print(plays)
plays["Purple Haze"] = -1
plays["Respect"] = 5
library = {"The best Songs": plays, "Sunday Feelings": {}}
print(library)

{'Like a Rolling Stone': 78, 'Satisfaction': 29, 'Imagine': 44, "What's Going On": 21, 'Respect': 89, 'Good Vibrations': 5}
{'The best Songs': {'Like a Rolling Stone': 78, 'Satisfaction': 29, 'Imagine': 44, "What's Going On": 21, 'Respect': 5, 'Good Vibrations': 5, 'Purple Haze': -1}, 'Sunday Feelings': {}}

In [51]:
zodiac_elements = {"water": ["Cancer", "Scorpio", "Pisces"], "fire": ["Aries", "Leo", "Sagittarius"], "earth": ["Taurus", "Virgo", "Capricorn"], "air":["Gemini", "Libra", "Aquarius"]}
zodiac_elements["energy"] = "Not a Zodiac element"
print(zodiac_elements["energy"])

Not a Zodiac element

In [52]:
caffeine_level = {"espresso": 64, "chai": 40, "decaf": 0, "drip": 120}
caffeine_level["matcha"] = 30
try:
    print(caffeine_level["matcha"])
except KeyError:
      print("That key doesn't exist!")

30

In [53]:
user_ids = {"teraCoder": 100019, "pythonGuy": 182921, "samTheJavaMaam": 123112, "lyleLoop": 102931, "keysmithKeith": 129384}
tc_id = user_ids.get('teraCoder', 100000)
print(tc_id)
stack_id = user_ids.get('superStackSmash', 100000)
print(stack_id)

100019
100000

In [54]:
user_ids = {"teraCoder": 100019, "pythonGuy": 182921, "samTheJavaMaam": 123112, "lyleLoop": 102931, "keysmithKeith": 129384}
num_exercises = {"functions": 10, "syntax": 13, "control flow": 15, "loops": 22, "lists": 19, "classes": 18, "dictionaries": 18}

users = user_ids.keys()
calasses = num_exercises.keys()
print(users)
print(calasses)

dict_keys(['teraCoder', 'pythonGuy', 'samTheJavaMaam', 'lyleLoop', 'keysmithKeith'])
dict_keys(['functions', 'syntax', 'control flow', 'loops', 'lists', 'classes', 'dictionaries'])

In [56]:
num_exercises = {"functions": 10, "syntax": 13, "control flow": 15, "loops": 22, "lists": 19, "classes": 18, "dictionaries": 18}

total_exetcises = 0

for value in num_exercises.values():
    total_exetcises+=value
    
print(total_exetcises)

115

In [55]:
tarot = { 1:  "The Magician", 2:  "The High Priestess", 3:  "The Empress", 4: "The Emperor", 5: "The Hierophant", 6:  "The Lovers", 7:  "The Chariot", 8: "Strength", 9:  "The Hermit", 10: "Wheel of Fortune", 11: "Justice", 12:  "The Hanged Man", 13: "Death", 14:  "Temperance", 15: "The Devil", 16:  "The Tower", 17:  "The Star", 18: "The Moon", 19: "The Sun", 20:  "Judgement", 21:  "The World", 22: "The Fool"}

spread = {}

spread["прошлое"] = tarot.pop(13)  
spread["настоящее"] = tarot.pop(22)  
spread["будущее"] = tarot.pop(10)

print(spread)

{'прошлое': 'Death', 'настоящее': 'The Fool', 'будущее': 'Wheel of Fortune'}